.ArtistAccount_div{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 10px;
  margin: 0;
 

}

.ArtistAccount_div_detail{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:rgb(72, 53, 124)
}

.ArtistAccount_div_h3{
  display: flex;
  justify-content: center;
  background-color:rgb(41, 92, 150);
  margin-left: 200px;
  margin-top: 10px;
  margin-right: 200px;
  

  outline: black;
  outline-style: double;
  outline-width: thick;
  
  

  color: black;
}

.ArtistAccount_div_dashboards {
  display: flex;
  

}



