.ArtistAccount_div{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 10px;
  margin: 0;
 

}

.ArtistAccount_div_detail{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.ArtistAccount_div_h3{
  display: flex;
  justify-content: center;
  background-color: rgb(197, 185, 185);
  margin-left: 200px;
  margin-top: 10px;
  margin-right: 200px;
  background-image: url('https://images.pexels.com/photos/122458/pexels-photo-122458.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  
  

  outline: black;
  outline-style: double;
  outline-width: thick;
  
  

  color: black;
}

.ArtistAccount_div_dashboards {
  display: flex;
  

}



