.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  padding: 10px;
}
/* 
.photos {
  height: 100%;
} */

GridList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 90%;
}
